<!-- <div *ngIf="!isLoggedIn">
  <div>email : <input type="text" #emailSignUp></div> 
  <div>password : <input type="number" #passwordSignUp></div> 
  <button (click)="signup(emailSignUp.value, passwordSignUp.value)">Sign Up</button>
</div>

<div *ngIf="!isLoggedIn">
  <div>email : <input type="text" #email></div> 
  <div>password : <input type="number" #password></div> 
  <button (click)="signin(email.value, password.value)">Sign in</button>
</div>
<app-dashboard *ngIf="isLoggedIn" (isLogOut)="isLogOut()"></app-dashboard> -->
<router-outlet></router-outlet>